:root{
    --title-color:#F2F2F2;
    --text-color: #80848C;
    --color-primary: #1A1E26;
    --color-secondary: #090A0D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

header{
    display: flex;
    justify-content: space-between;
    place-items: center;
    width: 100%;
    height: 4.0rem;
    padding: 0 10px;
    background-color: var(--color-primary);
    
}

.header-information{
    display: flex;
    gap: 10px;
    color: var(--title-color);
}

.header-information a{
    text-decoration: none;
    color: var(--title-color);
    font-size: 1.2rem;
    display: none;
}

.header-logo{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;  
    text-shadow: 1px 1px 20px #4C5059;
}

/* Aca estan los estilos del hero */
main {
    width: 100%;
    height: auto;
    background-color: var(--color-secondary);
}

.hero{
    position: relative;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.image-container{
    width: 100%;
} 

.image-container img{
    display: inline-block;
    width: 100%;
}

.hero-information-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 5px;
    text-align: center;
    top: 20%;
    left: 0;
    width: 100%;
    color: var(--title-color);
}

.image-information-container{
    width: 100px;
    height: 100px;
}

.image-information-container img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid var(--title-color);
    object-fit: cover;
}

.container-information h1{
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.container-information p{
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.button{
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    color: var(--color-secondary);
    background-color: var(--title-color);
    text-decoration: none;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 10px;
}

/* Aca estan los estilos de proyect */
.pageweb-proyects{
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.pageweb-proyects__title{
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.0rem;
    font-weight: bold;
    color: var(--title-color);
    padding-bottom: 20px;
}

.content-proyects{
    width: 90%;
    min-width: 288px;
    max-width: 288px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--color-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}
.content-proyects__img{
    width: 100%;
    height: 150px;
}

.content-proyects__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-proyects__information{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 10px 0;
}

.content-information__title{
    color: var(--title-color);
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding-bottom: 5px;
}

.content-information__description{
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
}

.tecnologia-use{
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--title-color);
    padding-top: 5px;
}

.button-proyects{
    display: flex;
    gap: 20px;
}

.btn{
    font-size: 1.2rem;
}