:root{
    --title-color:#F2F2F2;
    --text-color: #80848C;
    --color-primary: #212531;
    --color-secondary: #0e1016;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

header{
    width: 100%;
    height: 60px;
    background-color: var(--color-primary);
}
nav{
    height: 100%;
}

.nav__container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.header-logo{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;  
    color: var(--title-color);
    text-shadow: 1px 1px 20px #4C5059;
}

.dropdown{
    display: flex;
    gap: 15px;
}

.dropdown__list{
    list-style: none;
}

.dropdown__link{
    text-decoration: none;
    color: var(--title-color);
    font-size: 1.4rem;
    font-weight: 600;
}
.dropdown__link:hover{
    color: var(--text-color);
}
.nav__menu{
    display: none;
}

@media (max-width: 1023px) {
    .nav__menu{
        display: block;
    }
    .nav{
        --img1: scale(1);
        --img2: scale(0);
    }
    
    .nav:has( .dropdown:target ){
        --img1: scale(0);
        --img2: scale(1);
    
        --clip:inset(0 0 0 0);
    }
    
    .nav__container{
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        grid-template-areas: "title img";
    }

    .nav__title{
        color: #fff;
        grid-area: title;
    } 
    
    .nav__menu{
        grid-area: img;
        position: relative;
        z-index: 10;
    
        transform: var(--img1);
    }
    
    .nav__menu--second{
        transform: var(--img2);
    }

    .nav__icon{
        width: 30px;
        display: block;
    }

    .dropdown{
        position: absolute;
        background-color: var(--color-primary);
        width: 75%;
        max-width: 300px;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 1em;
        z-index: 2;
        display: grid;
        align-content:center ;
        gap: 1rem;
        overflow-y: auto;
        clip-path: var(--clip, inset(0 0 100% 100%));
        transition: clip-path .5s;
    } 
    
    .dropdown__link{
        color: rgb(184, 187, 191);
        padding: 1em .7em;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: .6rem;
        position: relative;
        border-radius: 6px;
    }
}


/* Aca estan los estilos del hero */
main {
    width: 100%;
    height: auto;
    background-color: var(--color-secondary);
}

.hero{
    position: relative;
    height: auto;
    width: 100%;
}

.image-container{
    width: 100%;
} 

.image-container img{
    display: inline-block;
    width: 100%;
}

.hero-information-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 5px;
    text-align: center;
    top: 20%;
    left: 0;
    width: 100%;
    color: var(--title-color);
}

.image-information-container{
    width: 100px;
    height: 100px;
}

.image-information-container img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid var(--title-color);
    object-fit: cover;
    padding: 3px;
}

.container-information h1{
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.container-information p{
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.button{
    display: inline-block;
    width: 100px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    color: var(--color-secondary);
    background-color: var(--title-color);
    text-decoration: none;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 10px;
}

.button:hover{
    color: var(--title-color);
    background-color: var(--color-secondary); 
}

/* Aca estan los estilos de proyect */
.pageweb-proyects{
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.pageweb-proyects__title{
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.0rem;
    font-weight: bold;
    color: var(--title-color);
    padding-bottom: 20px;
}

.container-proyects{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 40px;
}

.content-proyects{
    width: 90%;
    min-width: 288px;
    max-width: 310px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--color-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}
.content-proyects__img{
    width: 100%;
    height: 150px;
}

.content-proyects__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-proyects__information{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 10px 0;
}

.content-information__title{
    color: var(--title-color);
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding-bottom: 5px;
}

.content-information__description{
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
}

.tecnologia-use{
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--title-color);
    padding-top: 5px;
}

.button-proyects{
    display: flex;
    gap: 20px;
}

.btn{
    max-width: 100px;
    font-size: 1.2rem;
}
/* Aca estan los estilos de about-me */
.content-about-me{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.content-about-me h2{
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.0rem;
    font-weight: bold;
    color: var(--title-color);
    padding-bottom: 20px;
}

.content-about-me p{
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--text-color);
}

/* Aca empieza la seccion de skills */

.container-skills{
    width: 100%;
    min-width: 320px;
    padding-bottom: 30px;
    text-align: center;
}

.container-skills__title{
    font-size: 1.8rem;
    line-height: 2.0rem;
    font-weight: bold;
    color: var(--title-color);
    padding-bottom: 20px;
}

.container-skills__slider{
    display: flex;
    gap: 15px;
    height: 200px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.container-skills__card{
    scroll-snap-align: center;
    max-width: 120px;
    min-width: 110px;
    height: 120px;
    margin: 20px auto 0;
    padding: 10px;
    background-color: #4C5059;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.container-skills__subtitle{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--title-color);
}

/* Aca vienen los estilos de la seccion de contacto */
.container-contact{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.container-contact__title{
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.0rem;
    font-weight: bold;
    color: var(--title-color);
    padding-bottom: 20px;
}

.container-contact__form{
    display: flex;
    flex-direction: column;
}

.label{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--title-color);
    margin-bottom: 4px;
}

.input, .textarea{
    background-color: #F7F7F7;
    border: none;
    outline: none;
    border-radius: 8px;
    height: 30px;
    font-size: 1.4rem;
    padding: 6px;
    margin-bottom: 12px;
}

.textarea{
    height: 154px;
    margin-bottom: 22px;
}

.login-button{
    width: 100%;
    border: none;
    margin-bottom: 15px;
}

.container-contact__image{
    display: none;
}
/* Aca vienen los estilos del footer */
footer{
    display: flex;
    width: 100%;
    background-color: var(--color-primary);
    height: 80px;
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li {
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color: var(--title-color);
}

@media (min-width: 768px) {
    .hero-information-container{
        flex-direction: row;
        justify-content: left;
        transform: translateY(-50px);
        top: 50%;
        right: 200px;
        padding: 0 63px;
        gap: 20px;
    }

    .image-information-container{
        min-width: 180px;
        height: 180px;
    }

    .container-information h1{
        font-size: 3.4rem;
        line-height: 3.7rem;
    }
    
    .container-information p{
        font-size: 1.6rem;
        line-height: 2.0rem;
    }
    
    .enlace-cv{
        width: 150px;
        height: 40px;
        font-size: 1.4rem;
    }

    /* Aca los estilos de project */

    .pageweb-proyects__title{
        font-size: 2.8rem;
        line-height: 3.1rem;
        padding-bottom: 20px;
    }

    .container-proyects{
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* Aca estilos de about me */
    .content-about-me{
        display: flex;
        place-items: center;
        gap: 25px;
    }
    
    .content-about-me h2{
        font-size: 2.8rem;
        line-height: 3.1rem;
        padding-bottom: 20px;
    }
    
    .content-about-me p{
        font-size: 1.6rem;
        line-height: 2.0rem;
    }

    /* Aca estilos de skills */
    .container-skills__title{
        font-size: 2.4rem;
        line-height: 2.7rem;
        padding-bottom: 40px;
    }

    .container-skills__slider{
        overflow: hidden;
        overscroll-behavior-x: none;
    }

    /* Aca los estilo de contact */
    #contact{
        padding: 10px;
    }

    .container-contact{
        display: flex;
        place-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .container-contact__form{
        padding: 20px;
    }

    .container-contact__image{
        display: block;
    }
    .container-contact__icons{
        display: flex;
        gap: 15px;
        place-content: center;
        place-items: center;
        margin-top: 10px;
    }

    /*  Aca los estilos footer */
    .left a:hover{
        color: var(--text-color);
    }
}